<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#rmModalId<%= object.id %>">
  <i class="fa fa-trash-o"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="rmModalId<%= object.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= StrHelper.system_i18n(:sure_destroy, [:helpers, :questions]) %></h4>
      </div>
      <div class="modal-body">
        <%= identification %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= StrHelper.system_i18n(:back, [:helpers, :layouts]) %></button>
        <%= link_to StrHelper.system_i18n(:destroy, [:helpers, :layouts]), object, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>